.addRecipe {
  background-image: url("../Images/fondoFormulario.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vw;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.prettierForm {
  margin-left: auto;
  margin-right: auto;
  align-content: space-around;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 3px 3px 5px 1px rgb(38, 26, 123);
  background-color: rgb(231, 218, 218, 0.3);
}

.goBackButton {
  color: rgb(231, 218, 218);
  background-color: rgb(50, 104, 147);
  font-size: 17px;
  text-align: center;
  padding: 10px 25px;
  margin: 5px;
  border-radius: 30px;
  box-shadow: 3px 3px 5px 1px rgb(38, 26, 123);
  cursor: pointer;
}

.goBackButton:hover {
  color: #ce5249;
  background-color: rgb(231, 218, 218);
}

.submitButton {
  color: rgb(231, 218, 218);
  background-color: rgb(50, 104, 147);
  font-size: 17px;
  text-align: center;
  padding: 10px 25px;
  margin: 5px;
  border-radius: 30px;
  box-shadow: 3px 3px 5px 1px rgb(38, 26, 123);
  cursor: pointer;
}

.submitButton:hover {
  color: rgb(50, 104, 147);
  background-color: rgb(231, 218, 218);
}

.msg {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  padding-top: 40px;
  padding-bottom: 35px;
  flex-direction: column;
  justify-content: center;
  color: rgb(6, 40, 68);
  font-style: normal;
  font-weight: 700;
  text-shadow: 3px 2px 3px rgb(38, 26, 123);
}

.msgs {
  display: flex;
  flex-direction: column;
  columns: auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
  color: rgb(6, 40, 68);
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
}

.nameInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.checkSelect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.dietTypes {
  display: flex;
  flex-direction: column;
  column-count: 2;
  color: rgb(19, 9, 62);
  background-color: rgba(169, 166, 166, 0.902);
}

.checks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1px;
}

.errors {
  font-family: sans-serif;
  color: rgb(209, 26, 23);
  font-size: 14px;
}

.img {
  position: absolute;
  top: 200px;
  left: 530px;
  height: 150px;
  width: 150px;
}
